{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h1>Login</h1>

<div class="panel" style="max-width:520px;">
  <form method="post" class="form">
    <label class="label">Email</label>
    <input class="input" type="email" name="email" required>

    <label class="label">Password</label>
    <input class="input" type="password" name="password" required>

    <button class="btn" type="submit">Login</button>
    <a class="btn btn--ghost" href="{{ url_for('register') }}">Create account</a>
  </form>
</div>
{% endblock %}
